.login-form {
  width: 300px;
  position: absolute;
  left: 40%;
  top: 40%;
}

.App {
  width: 300px;
  position: absolute;
  left: 40%;
  top: 40%;
}

.navbar {
  background-color: #707580;
}

.App-background {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.menu {
  font-size: large;
}

.text-area {
  color: grey;
  font-size: large;
}

.text-center {
  color: grey;
  font-size: large;
  text-align: center;
}

.nav-image {
  height: 300px;
  width: 200px;
}
